body{
    font-family: 'Montserrat', sans-serif;
}
#header{
    background-image: url(img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
}
.boton-nav{
    background: #FC5000;
    color: #ffffff;
}
.titulo-a{
    font-family: 'Londrina Outline', cursive;
    color:#FC5000 ;
    font-size: 100px;
    font-weight: bold;
}
.titulo-b{
    font-family: 'Londrina Solid', cursive;
    color: #ffffff;
    font-size: 100px;
    margin-top:-4%;
}
.titulo{
    text-align: center;
    padding-top: 10%;
}
.titulo-c{
    color: #ffffff;
}
.titulo-boton{
    border-radius: 5px;
    margin-top: 3%;
}
.carousel{
    text-align: center;
    margin-top: 20px;
    padding: 50px;
}
.carousel-inner{
}
.img-car{
}
.efecto{
    transform:scale(1);
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 35px;
}
.efecto:hover{
	transform:scale(1.2);
}
.derecha{
    float: right;
}
.centro{
    text-align: center;
}
.izquierda{
    float: left;
}
.formulario{
    margin-top: 100px ;
    padding: 20px;
    text-align: left;
}
/* footer */
a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 30px 0;
}
.bottom {
    background-color: #0a1c2e;
    margin-top: 100px;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #FC5000;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #d1caca;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}